@model List<DynamicMenuProject.View_Models.QuestionsRelatedValueViewModel>

    @{
        ViewBag.Title = "Feedback";
    }


    <div class="row">

        <div class="col-md-6">

            <form method="post" id="Surveyform">


                @foreach (var item in Model)
                {

                    <div class="target" id="div_@item.Id">

                        @item.Title
                        <input type="hidden" id="hnd_@item.Id" value="@item.Id" />
                        <input type="hidden" id="hndType_@item.Id" value="@item.Type" />

                        @if (item.Type == TitleType.TextBox.ToString())
                        {
                            <div class="form-group">
                                <input type="text" id="txt_@item.Id"/>
                                <span></span>
                            </div>
                        }

                        else if (@item.Type == TitleType.TextArea.ToString())
                        {
                            <div class="form-group">
                                <textarea id="area_@item.Id" rows="5" cols="40"></textarea>
                                <span></span>
                            </div>
                        }

                        else if (@item.Type == TitleType.CheckBox.ToString())
                        {


                            <div class="form-group">

                                @foreach (var inneritem in item.SelectList)
                                {
                                    <input type="checkbox" id="chk_@item.Id.ToString()_@inneritem.Value" value="@inneritem.Value">
                                    <label for="@item.Id.ToString()_@inneritem.Value"> @inneritem.Text</label><br>
                                    <span></span>
                                }
                            </div>
                        }

                        else if (@item.Type == TitleType.DropDown.ToString())
                        {


                            <div class="form-group">
                                <select id="select_@item.Id">
                                    @foreach (var inneritem in item.SelectList)
                                    {
                                        <option value="@inneritem.Value">@inneritem.Text</option>
                                    }
                                </select>
                            </div>
                        }

                        else if (@item.Type == TitleType.RadioButton.ToString())
                        {

                            <div class="form-group">
                                @foreach (var inneritem in item.SelectList)
                                {
                                    <input type="radio" name="gender_@item.Id.ToString()" id="radio_@item.Id.ToString()_@inneritem.Value" value="@inneritem.Value">
                                    <label for="@item.Id.ToString()_@inneritem.Value"> @inneritem.Text</label><br>
                                    <span></span>
                                }
                            </div>
                        }

                        <br />

                    </div>
                }


                <button id="btnSave" type="submit" class="btn btn-primary" >Save</button>

            </form>



        </div>
    </div>







    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


    <script>

        $(document).ready(function () {


            $("#btnSave").on('click', function (e) {


                    var arr = [];
                    $(".target").each(function () {

                        var id = $(this).attr('id').split('_')[1];
                        var queid = $('#hnd_' + id).val();
                        var queType = $('#hndType_' + id).val();
                        var answer = "";

                        if (queType == '@TitleType.CheckBox.ToString()') {
                            var chkans = "";
                            var checkid = 'input:checkbox[id^=chk_' + queid.toString() + ']:checked';
                            $(checkid).each(function () {
                                if (chkans != "") {
                                    chkans = chkans + ',' + $(this).val();
                                }
                                else {
                                    chkans = $(this).val();
                                }
                            });
                            answer = chkans;
                        }


                        else if (queType == '@TitleType.RadioButton.ToString()') {
                            var chkans = "";
                            var radioid = 'input:radio[id^=radio_' + queid.toString() + ']:checked';
                            $('input.radio').prop('disbled', true);
                            chkans = $(radioid).val();
                            answer = chkans;
                        }

                        else if (queType == '@TitleType.DropDown.ToString()') {
                            var chkans = "";
                            var dropid = '[id^=select_' + queid + ']';
                            chkans = $(dropid).val();
                            answer = chkans;
                        }

                        else if (queType == '@TitleType.TextBox.ToString()') {
                            answer = $('#txt_' + queid).val();
                        }

                        else if (queType == '@TitleType.TextArea.ToString()') {
                            answer = $('#area_' + queid).val();
                        }
                        requestData = {
                            QuestionId: queid,
                            Answer: answer,
                            Type: queType
                        }
                        arr.push(requestData);
                    });

                    debugger;

                    $.ajax({
                        url: '/FeedbackForm/SurveyPost',
                        type: 'POST',
                        data: JSON.stringify(arr),
                        dataType: 'json',
                        contentType: 'application/json',
                        error: function (xhr) {
                            alert('Error: ' + xhr.statusText);
                        },
                        success: function (result) {
                           
                            window.location.href = '@Url.Action("SurveyPost", "FeedbackForm")';
                        }
                    });
                

            });
        });
    </script>
