@model IEnumerable<DynamicMenuProject.View_Models.FeedbackFormViewModel>

@{
    ViewData["Title"] = "ViewDetails";
}

<html>
<head>
    <style></style>
    <img src="https://ems.dotsquares.com/content/images/logo.png" align="left" style="width: 100%; max-width: 300px" />
   
    <h1 align="right">@Model.FirstOrDefault().UserName</h1>
</head>

<body>


    <p>
        @Model.FirstOrDefault().SubmitDate

    </p>
    @{int index = 1;}
    @foreach (var item in Model)
    {

    <p>
        Question @index :  @item.Question
    </p>
    <p>
        Answer @index :  @item.Answer  @item.Options
    </p>
        index++;
    }
</body>
</html>




