
@model IEnumerable<DynamicMenuProject.View_Models.CategoryViewModel>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/path/to/bootstrap.min.css">
    <script src="/path/to/jquery.slim.min.js"></script>
    <script src="/path/to/popper.min.js"></script>
    <script src="/path/to/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="~/css/bootstrap-sidermenu.css" rel="stylesheet" />
    <script src="~/js/bootstrap-sidermenu.js"></script>


    @*<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Font Awesome 4-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Sidebar Accordion CSS -->
    <link href="~/css/sidebar-accordion.css" rel="stylesheet" />
    <!-- Sidebar Accordion JS -->
    <script src="~/js/sidebar-accordion.js"></script>*@
    
</head>
<div class="container-fluid">
    <div class="row">
        @{ foreach (var firstItem in Model)
            {
                @if (firstItem.Path == null)
                {
                    <ul class="menu-siderbar nav flex-column">
                        <li class="nav-item open">
                            <a href="@firstItem.Path/Home/Products/@firstItem.Id" class="nav-link nav-link-parent">
                                <i class="menu-icon fa fa-th"></i> @firstItem.CategoryName
                            </a>
                            <ul class="menu-siderbar-child nav flex-column">
                                @foreach (var secondItem in (Model.Where(s => s.ParentId == firstItem.Id).ToList()))
                                {
                                    <li class="nav-item">
                                        <a href="@secondItem.Path/@secondItem.Id" class="nav-link">

                                            <p>@secondItem.CategoryName</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            }
        }
        @*@{
                foreach (var item in Model)
                {

                    foreach (var firstItem in (Model.Where(s => s.CategoryGrpId == item.FirstOrDefault().CategoryGrpId).ToList()))
                    {
                        @if (string.IsNullOrEmpty(firstItem.Path))
                        {

                            <ul class="menu-siderbar nav flex-column">
                                <li class="nav-item open">
                                    <a href="@firstItem.Path/Home/Products/@firstItem.Id" class="nav-link nav-link-parent">
                                        <i class="menu-icon fa fa-th"></i> @firstItem.CategoryName
                                    </a>
                                    <ul class="menu-siderbar-child nav flex-column">
                                        @foreach (var secondItem in (Model.Where(s => s.ParentId == firstItem.Id).ToList()))
                                        {
                                            <li class="nav-item">
                                                <a href="@secondItem.Path/@secondItem.Id" class="nav-link">
                                                    <i class="menu-icon fa fa-bolt"></i> @secondItem.CategoryName
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        }
                    }
                }
            }*@
    @*</div>
</div>*@



@*<div class="contenedor-menu">
    @{ 
        foreach (var firstItem in Model)
        {
            @if (firstItem.Path == null)
            {
                <ul class="menu">
                    <li class="nav-item">
                        <a href="@firstItem.Path/Home/Products/@firstItem.Id">
                            <i class="menu-icon fa fa-th"></i> @firstItem.CategoryName
                        </a>
                        <ul class="menu">
                            @foreach (var secondItem in (Model.Where(s => s.ParentId == firstItem.Id).ToList()))
                            {
                                <li class="nav-item">
                                    <a href="@secondItem.Path/@secondItem.Id" class="nav-link">

                                        <p>@secondItem.CategoryName</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            }
            }
        }
</div>*@






</html>
























    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <body>
            <div class="w3-container">
                @{

                    foreach (var item in Model.GroupBy(m => m.CategoryGrpId).Distinct().ToList())
                    {

                        foreach (var firstItem in (Model.Where(s => s.CategoryGrpId == item.FirstOrDefault().CategoryGrpId).ToList()))
                        {
                            @if (string.IsNullOrEmpty(firstItem.Path))
                            {

                                <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-black w3-left-align">
                                    <a href="@firstItem.Path/Home/Products/@firstItem.Id">
                                        <i class="fas fa-circle nav-icon"></i>
                                        <p>@firstItem.CategoryName</p>
                                    </a>
                                </button>
                                <div id="Demo1" class="w3-hide w3-animate-zoom">
                                    @foreach (var secondItem in (Model.Where(s => s.ParentId == firstItem.Id).ToList()))
                                    {
                                        <li>
                                            <a href="@secondItem.Path/@secondItem.Id" class="w3-button w3-block w3-left-align">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>@secondItem.CategoryName</p>
                                            </a>
                                        </li>
                                    }
                                </div>
                            }


                        }
                    }
                }
            </div>
            <script>
                function myFunction(id) {
                    var x = document.getElementById(id);
                    if (x.className.indexOf("w3-show") == -1) {
                        x.className += " w3-show";
                    } else {
                        x.className = x.className.replace(" w3-show", "");
                    }
                }
            </script>

        </body>
        </html>*@












    @*@model IEnumerable<DynamicMenuProject.View_Models.CategoryViewModel>*@
    @*<li class="nav-item">
            <a href="/Home/Index" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>Home</p>
            </a>
        </li>*@
    @*@{
            foreach (var item in Model.GroupBy(m => m.CategoryGrpId).Distinct().ToList())
            {

                foreach (var firstItem in (Model.Where(s => s.CategoryGrpId == item.FirstOrDefault().CategoryGrpId).ToList()))
                {
                    @if (string.IsNullOrEmpty(firstItem.Path))
                    {
                        <li class="nav-item">
                            <a href="@firstItem.Path/Home/Products/@firstItem.Id" class="nav-link">
                                <i class="fas fa-circle nav-icon"></i>
                                <p>@firstItem.CategoryName</p>
                            </a>
                            <ul class="nav nav-treeview">
                                @*}
                                @foreach (var secondItem in (Model.Where(s => s.ParentId == firstItem.Id).ToList()))
                                {
                                    <li class="nav-item">
                                        <a href="@secondItem.Path/@secondItem.Id" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>@secondItem.CategoryName</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }

            }
        }*@
    @*<li class="nav-item">
            <a href="/Home/Contact" class="nav-link">
                <i class="nav-icon fa fa-phone"></i>
                <p>Contact</p>
            </a>
        </li>*@

