@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>Role Manager</h1>
@*
        <form method="post" asp-action="AddRole" asp-controller="RoleManager">
        <div class="input-group">
            <input name="roleName" class="form-control w-25">
            <span class="input-group-btn">
                <button class="btn btn-info">Add New Role</button>
            </span>
        </div>
    </form>
*@
<a class="btn btn-primary" style="width:auto"
   asp-controller="RoleManager" asp-action="CreateRole">
    Create Role
</a>
<br />
<table class="table table-striped" id="MyDataTable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="EditRole" asp-controller="RoleManager"
                       asp-route-id="@role.Id" class="btn btn-danger">Edit</a>
                </td>
                <td>
                    <form asp-action="DeleteRole" asp-controller="RoleManager" asp-route-id="@role.Id" method="post">
                        <span id="confirmDeleteSpan_@role.Id" style="display:none">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                               onclick="confirmDelete('@role.Id',false)">No</a>
                        </span>

                        <span id="deleteSpan_@role.Id">
                            <a href="#" class="btn btn-danger"
                               onclick="confirmDelete('@role.Id',true)">Delete</a>
                        </span>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{ 
    <script src="~/js/CustomScript.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#MyDataTable").DataTable();
        }
        )
    </script>
}